@media screen and (max-width:576px){
    .navbar-menu {
            flex-direction:row;
    }
    .navbar-btn-menu{
        display: none;
    }
    .nav-hamburger-menu{
        display:block;
    }
 
}
